<!DOCTYPE html>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= javascript_pack_tag 'application' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <body>
    <header>
      <div class="header-fx">
        <div class="d-flex col-xs-6 col-md-3 align-items-center top-header">
          <a href="/top/"><h1>いろ</h1></a>
        </div>
        <div class="d-flex justify-content-end  col-md-9 hamburger-menu">
          <input type="checkbox" id="menu-btn-check">
          <label for="menu-btn-check" class="menu-btn"><span></span></label>    
          <div class="menu-content">
            <ul>
              <li>
                <a href="/nindex/">注目記事</a>
              </li>
              <li>
                <a href="/kanris/">新着記事</a>
              </li>
              <li>
                <a href="/genre/">ジャンル一覧</a>
              </li>
              <li>
                <a href="/contacts/new/">お問い合わせ</a>
              </li>
            </ul>
          </div>
        </div>
      </div>    
    </header>

    <main>
      <%= yield %>
    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>   
  </body>
  <footer>
     <p>Copyright ©YasudaMaria All Rights Reserved.</p>
  </footer>
 </html>